@model List<Models.EF.Channel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Channel List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Count</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.IDChannel">
                                    <th>@item.IDChannel</th>
                                    <th>@Html.ActionLink(item.Name.ToString(), "Edit", new { id = item.IDChannel })</th>
                                    <th>@item.Count</th>
                                    <th>@Ajax.ActionLink("Delete","Delete", new { id = item.IDChannel },new AjaxOptions
                                   {
                                       Confirm="Ban co muon xoa?",
                                       OnComplete="$('#row_"+item.IDChannel+"').remove()",
                                       HttpMethod = "Delete"
                                   })</th>
                                </tr>
                            }                     
                    </tbody>
                    </table>
            </div>
        </div>
    </div>

